# Terminal shortcuts
alias dotfilespls="./sync.sh"

# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"
alias reload="touch ~/.bash_profile"

alias gs="git status -sb"
alias gpull="git pull origin dev"
alias gcheckout="git checkout dev"
alias gcheck="git checkout dev"
alias gche="git checkout dev"
alias gpr="git pull --rebase origin"
alias gpush="git push origin dev"
alias glist="git stash list"
alias gnew="git checkout -b"
alias gdelete_local="git branch -D"
alias gdl="git branch -D"
alias gpop="git stash pop"
alias gdr="git push origin --delete"
alias gamend="git commit --amend -C HEAD"
alias gundo="git reset --soft HEAD^"
alias gcount="git shortlog -sn"

alias myssh="pbcopy < ~/.ssh/id_rsa.pub"

# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume 10'"
alias hax="growlnotify -a 'Activity Monitor' 'System error' -m 'WTF R U DOIN'"
